<?xml version="1.0"?>
<robot name="lucia"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="base_footprint"/>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.01" rpy="0 0 0"/> 
    </joint>

    <link name="base_link"/>
    <link name="base_scan"/>

    <joint name="scan_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_scan"/>
        <origin xyz="-0.32 0.0 0.172" rpy="0 0 0"/>
    </joint>
</robot>